
<div class="header-main">
    <div class="header-icon-part">
        <img src="assets\img\logo.svg" alt="">
        <p>Cannabidiol</p>
    </div>
    <div class="header-search-part search-desktop">
        <input type="text" placeholder="Search for your preferences">
        <img src="assets\img\search.svg" alt="">
    </div>
    <div class="header-menu-part">
        <a class="header-menu-items">Are You a seller!</a>
        <a routerLink="cart" class="header-menu-items cart">
            <img src="assets\img\shopping-cart-solid.svg"alt="">Cart
        </a>
        <a class="header-menu-items">
            <img src="assets\img\user-solid.svg" alt="">Sign In
        </a>
    </div>
   <button class="trail-btn trial-btn-desktop">Start Free Trial</button>
   
   <div class="header-search-part search-mobile">
    <input type="text" placeholder="Search for your preferences">
    <img src="assets\img\search.svg" alt="">
   </div>
   <button class="trail-btn trial-btn-mobile">Start Free Trial</button>
</div>

<div class="subheader-main">
    <div>
        <div class="subheader">
    <div class="subhearder-menubar">
        <div class="subheader-menu-element">
            <a routerLink=""> Home</a>
        </div>
        <div class="subheader-menu-element">
            <a routerLink="newArrival">New Arrivals</a>
        </div>
        <div class="subheader-menu-element">
            <a routerLink="ShopCBD">Shop CBD</a>
        </div>
        <div class="subheader-menu-element">
            <a routerLink="gallery">Gallery</a>
        </div>
        <div class="subheader-menu-element">
            <a routerLink="blog">Blog</a>
        </div>
        <div class="subheader-menu-element">
            <a routerLink="about"> About Us</a>
        </div>
    </div>
    <div class="subhearder-menubar-dropdown">
        <a class="selected-page" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Home
          </a>
    </div>
    
    <div class="subheader-contact-us-part">
        <p><span><img src="assets\img\mobile-alt-solid.svg" alt=""></span>Call Us:  9723 331 233</p>
    </div>
    
    </div>
    <div class="collapse subheader-menu-collapsable" id="collapseExample">
        <div class="subheader-menu-element">
            <a href="">New Arrivals</a>
        </div>
        <div class="subheader-menu-element">
            <a href="">Shop CBD</a>
        </div>
        <div class="subheader-menu-element">
            <a href="">Gallery</a>
        </div>
        <div class="subheader-menu-element">
            <a href="">Blog</a>
        </div>
        <div class="subheader-menu-element">
            <a href=""> About Us</a>
        </div>
      </div>
</div>
</div>