<div class="footer-main">
    <div class="footer-inner row">
        <div class="col-lg-3">
            <h6>Categories</h6>
            <UL>
                <li>CBD Oil</li>
                <li>CBD Capsules</li>
                <li> CBD Gummies</li>
                <li>CBD Lotions</li>
            </UL>
        </div>
        <div class="col-lg-3">
            <h6>USEFUL LINKS</h6>
            <UL>
                <li>Latest Arrival</li>
                <li>Shop CBD</li>
                <li> Gallery</li>
                <li>Blog</li>
                <li>About Us</li>
            </UL>
        </div>
        <div class="col-lg-4">
            <h6>Have Queries or Concerns? Contact Us</h6>
            <button class="footer-btn">Contact Us</button>
            <p>+44 (865) 750-4549</p>
            <p><span><img alt="" src="assets\img\shield-alt-solid.svg" class="shield"></span>100% Payment Protection, Easy
                Return Policy</p>
            <p class="payment-options">
                <span><img src="assets\img\rupay2x.svg" alt=""></span> 
                <span><img src="assets\img\visa2x.svg" alt=""></span>
                <span><img src="assets\img\american_express2x.svg" alt=""></span>
                <span><img src="assets\img\master_card2x.svg" alt=""></span>
                <span><img src="assets\img\net_banking2x.svg" alt=""></span>
            </p>
        </div>
        <div class="col-lg-2">
            <ul class="img-list">
                <li><img src="assets\img\facebook-brands.svg" alt=""></li>
                <li><img src="assets\img\instagram-brands.svg" alt=""></li>
                <li><img src="assets\img\linkedin-in-brands.svg" alt=""></li>
                <li> <img src="assets\img\twitter-brands.svg" alt=""></li>
            </ul>




        </div>
    </div>
</div>