<div class="banner-2">
    <div class="container container-res">
        <div class="banner-2-content">
            <div class="question-box">
                <div class="question-box-inner">
                    <p class="question">CBD 101: What exactly is CBD?</p>
                    <p class="answer">CBD, or cannabidiol, is one of many powerful cannabinoids found in hemp, and is
                        known for supporting body and mind in various ways. Our field is the science of botanics, and as
                        you'll come to learn, unlocking their power is our primary focus.</p>
                    <button class="LearnMore-btn">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>