<div class="featured-product-slider ">
    <div class="container">
        <div class="top-product-header">
            <h1>Featured Categories</h1>
            <p>Get attractive Deals on our Best Selling Products.</p>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner my-carousel-inner">
                <div class="carousel-item active">
                    <div class="featured-product row">
                        <div class="col-3">
                            <div class="product-card">
                                <div class="product-card-img-part">
                                    <img class="product-card-img" src="assets\img\1cbd.svg" alt="">
                                </div>
                                <div class="product-card-details-part">
                                    <h6>CBD Oil</h6>
                                    <p>High-quality hemp extracts with naturally occurring CBD.</p>
                                    <button class="checkout-btn">Checkout</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="product-card">
                                <div class="product-card-img-part">
                                    <img class="product-card-img" src="assets\img\wol_best-pick-for-cbd-softgels.svg " alt="">
                                </div>
                                <div class="product-card-details-part">
                                    <h6>CBD CAPSULES</h6>
                                    <p>Clean label, simple formulas. Convenience in a capsule.</p>
                                    <button class="checkout-btn">Checkout</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="product-card">
                                <div class="product-card-img-part">
                                    <img alt=""class="product-card-img" src="assets\img\1cbd.svg">
                                </div>
                                <div class="product-card-details-part">
                                    <h6>CBD GUMMIES</h6>
                                    <p>Plant-powered gummies. Botanical goodness you can taste.</p>
                                    <button class="checkout-btn">Checkout</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="product-card">
                                <div class="product-card-img-part">
                                    <img class="product-card-img" src="assets\img\blucaps.svg" alt="">
                                </div>
                                <div class="product-card-details-part">
                                    <h6>CBD Lotion</h6>
                                    <p>High-quality hemp extracts with naturally occurring CBD. </p>
                                    <button class="checkout-btn">Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="featured-product row">
                        <div class="col-3">
                            <div class="product-card">
                                <div class="product-card-img-part">
                                    <img class="product-card-img" src="assets\img\1cbd.svg" alt="">
                                </div>
                                <div class="product-card-details-part">
                                    <h6>CBD Oil</h6>
                                    <p>High-quality hemp extracts with naturally occurring CBD.</p>
                                    <button class="checkout-btn">Checkout</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="product-card">
                                <div class="product-card-img-part">
                                    <img class="product-card-img" src="assets\img\wol_best-pick-for-cbd-softgels.svg" alt="">
                                </div>
                                <div class="product-card-details-part">
                                    <h6>CBD CAPSULES</h6>
                                    <p>Clean label, simple formulas. Convenience in a capsule.</p>
                                    <button class="checkout-btn">Checkout</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="product-card">
                                <div class="product-card-img-part">
                                    <img class="product-card-img" src="assets\img\1cbd.svg" alt="">
                                </div>
                                <div class="product-card-details-part">
                                    <h6>CBD GUMMIES</h6>
                                    <p>Plant-powered gummies. Botanical goodness you can taste.</p>
                                    <button class="checkout-btn">Checkout</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="product-card">
                                <div class="product-card-img-part">
                                    <img class="product-card-img" src="assets\img\blucaps.svg" alt="">
                                </div>
                                <div class="product-card-details-part">
                                    <h6>CBD Lotion</h6>
                                    <p>High-quality hemp extracts with naturally occurring CBD. </p>
                                    <button class="checkout-btn">Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="featured-product row">
                        <div class="col-3">
                            <div class="product-card">
                                <div class="product-card-img-part">
                                    <img class="product-card-img" src="assets\img\1cbd.svg" alt="">
                                </div>
                                <div class="product-card-details-part">
                                    <h6>CBD Oil</h6>
                                    <p>High-quality hemp extracts with naturally occurring CBD.</p>
                                    <button class="checkout-btn">Checkout</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="product-card">
                                <div class="product-card-img-part">
                                    <img class="product-card-img" src="assets\img\wol_best-pick-for-cbd-softgels.svg" alt="">
                                </div>
                                <div class="product-card-details-part">
                                    <h6>CBD CAPSULES</h6>
                                    <p>Clean label, simple formulas. Convenience in a capsule.</p>
                                    <button class="checkout-btn">Checkout</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="product-card">
                                <div class="product-card-img-part">
                                    <img class="product-card-img" src="assets\img\1cbd.svg" alt="">
                                </div>
                                <div class="product-card-details-part">
                                    <h6>CBD GUMMIES</h6>
                                    <p>Plant-powered gummies. Botanical goodness you can taste.</p>
                                    <button class="checkout-btn">Checkout</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="product-card">
                                <div class="product-card-img-part">
                                    <img class="product-card-img" src="assets\img\blucaps.svg" alt="">
                                </div>
                                <div class="product-card-details-part">
                                    <h6>CBD Lotion</h6>
                                    <p>High-quality hemp extracts with naturally occurring CBD. </p>
                                    <button class="checkout-btn">Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev my-carousel-control-prev  my-carousel-control" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next my-carousel-control-next  my-carousel-control" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>